/* All Fonts and Imports Here */

    /* Hindi Siliguri Bangla Font  */
    @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');

/* Global Styles Here */

    :root{
        --default-color: #212F3D;
        --button-color: #566573;
        --input-box-shadow: 0 0 36px rgba(0,0,0,.05);
    }
    
    body{
        font-family: 'Hind Siliguri', sans-serif;
    }
    button,
    input,
    ::placeholder{
        font-family: 'Hind Siliguri', sans-serif;
    }

    *,*::after,*::before{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ul li,
    ol li{
        list-style-type: none;
    }

    a:link,
    a:visited{
        text-decoration: none;
        color: var(--default-color);
        display: inline-block;
    }

    .transition{
        transition: all .3s ease-in;
    }
/* Header Styles Here */
    header,
    article,
    footer{
        padding: 20px 160px;
    }

    header,
    footer{
        background-color: aliceblue;
    }

    header nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

/* Navigation Styles Here */
    .navigation{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .navigation form input{
        padding: 10px;
        border: none;
        outline: 0;
        font-size: 14px;
        border-radius: 4px;
    }

    .navigation form input{
        box-shadow: var(--input-box-shadow);
    }

    .navigation form input:hover,
    .navigation form input:focus{
        box-shadow: 0 0 30px rgba(0,0,0,.25);
    }

    .menu-button{
        font-weight: 600;
    }

/* Articles Goes Here */
    article{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        margin: 40px 0;
    }

    .post-content__main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .post__main{
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 8px;
    }

    .post-date__main{
        font-size: 12px;
        color: #566573;
        font-weight: 700;
    }

    .post-title__main h1{
        font-size: 30px;
    }

    .post-meta__main{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .post-author-info__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-author-image__main{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .post-author-image__main img{
        width: 32px;
        margin-right: 14px;
        border-radius: 4px;
    }

    .post-read-more__main a{
        display: inline-block;
        margin-top: 20px;
    }

/* Left Sidebar Goes Here */

/* Right Sidebar Goes Here */
    .recent-posts-content-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: center;
        padding: 20px 0;
    }

    .recent-posts-content{
        border: 1px solid #dddddd;
        border-radius: 4px;
        padding: 15px;
        display: flex;
        gap: 14px;
    }

    .recent-posts-content img{
        width: 64px;
        height: 64px;
        border-radius: 4px;
    }

    .post-tags__sidebar{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .widget-title{
        font-size: 24px;
    }
/* Footer Goes Here */

/* Responsive Styles Here */


